.animation {
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
    position: relative;
    z-index: 2;
}

@keyframes example {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}