
.productsImg {
    position: relative;
    height: 250px;
}

.productsItem {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.productName {
    font-weight: 500;
    color: #292b2c
}

.productPrice {
    color: #646a7c
}

.productsItem:hover .productsItem__actions {
    opacity: 1;
    visibility: visible;
}

.productsItem:hover .img2 {
    right: 0
}

.img2 {
    z-index: 2;
    top: 0;
    right: -110%;
    transition: .3s;
}

.productsItem__actions {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.productsItem__actions li {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: .3s;
    cursor: pointer;
}

.productsItem__actions li svg {
    transition: .3s
}

.productsItem__actions li:hover {
    background: var(--red)
}

.productsItem__actions li:hover svg {
    color: #fff
}