.nav {
    min-width: 300px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.nav ul li a{
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: 300;
    padding: 10px 15px;
    font-size: 14px;
    color: black;
}

.nav ul li:first-child {
    padding: 20px 15px;
    color: #fff;
    background: var(--red);
    font-weight: 500;
    font-weight: 16px;
}