.breadcrumb {
    padding: 70px 0;
    background: #f7f8fb;
}

.breadcrumb h2 {
    font-size: 32px;
    color: #292b2c;
}

.category a {
    display: flex;
    align-items: center;
    color: black;
    font-size: 14px;
    padding: 5px 0;
    white-space: nowrap;
}